---
import { withBase } from "../utils/paths";

const { title, href } = Astro.props;
const resolvedHref = withBase(href);
---
<div class="card reveal">
  {title ? (
    resolvedHref ? (
      <a class="card-title" href={resolvedHref}>{title}</a>
    ) : (
      <div class="card-title">{title}</div>
    )
  ) : null}
  <slot />
</div>
